@model Subvault_UI.Models.IndexViewModel
@using Subvault_Domain.Entities

@{
    ViewBag.Title = "Welcome";
}

<nav id="top-nav">
    @if (TempData["upload-success"] != null) {
        <div class="success-banner"><p>The subtitles were successfully uploaded.</p></div>
    }
    @if (ViewBag.Type == "Movie") {
        <a href="/"><button class="active">Movies</button></a>
        <a href="/Series"><button>Series</button></a>
    } else {
        <a href="/"><button>Movies</button></a>
        <a href="/Series"><button class="active">Series</button></a>
    }
</nav>

<div id="popular">
    <h1>Popular with subtitles</h1>
    <div class="item-container">
        @foreach (Item movie in Model.PopularItems) {
            @Html.Partial("_ItemBox", @movie)
        }
    </div>
</div>
