@using Subvault_Domain

@model Subvault_Domain.Entities.Item

<div class="item-card">
    <div class="poster">
        <img src="@GlobalSettings.APIImageRoot/w@(GlobalSettings.ItemCardPosterWidth)@(Model.PosterURL)" />
    </div>
    <div class="info">
        <h2>@Model.Title</h2>
        <div class="subtitle-icon"><i class="fa fa-cc" aria-hidden="true"></i></div><div class="available-languages"><p>English, Dutch, Spanish, French...</p></div>
        @if (Model is Subvault_Domain.Entities.Movie) {
            <a href="@Html.Raw("/Movie/" + Model.Id)"><button class="green-button">Subtitles <i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
        } else {
            <button class="green-button">Subtitles <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        }
    </div>
</div>