@model Subvault_UI.Models.UserSessionViewModel

<div id="nav-user">
    <h3><i class="fa fa-user" aria-hidden="true"></i>  @Model.Username</h3>
    <a href="@Url.Action("Upload", "Subtitles")"><button class="green-button" id="logout-button"><i class="fa fa-upload" aria-hidden="true"></i>   Upload</button></a>
    <a href="@Url.Action("Logout", "User")"><button class="green-button transparent-button" id="logout-button">Logout</button></a>
</div>