/* General */
body {
    background-color: #23272E;
    font-family: 'Raleway', sans-serif;
    color: white;
}

button, input[type="submit"] {
    border-width: 0px;
    color: white;
}

button:focus, input[type="submit"]:focus {
    outline-width: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

button, #subtitles-input + label {
    background-color: #237F6E;
    width: 100%;
    height: 40px;
}

button:hover, #subtitles-input + label:hover {
    background-color: #165045;
    cursor: pointer;
    cursor: hand;
}

button:active {
    background-color: #103c35;
}

input[type="text"], input[type="password"] {
    float: left;
    outline-width: 0px;
    border-width: 0px;
}

input[type="text"], input[type="password"], {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#search-area button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

label {
    font-family: 'Montserrat', sans-serif;
}

.input-error-message {
    color: #e6b800;
    text-align: center;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #237F6E;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

select {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

option {
    background-color: #23272E;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label span, input[type="checkbox"] ~ label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="checkbox"] ~ label span {
    border-radius: 1px;
}

input[type="radio"] + label span, input[type="checkbox"] ~ label span {
    background-color: rgba(255, 255, 255, 0.3);
}

input[type="radio"]:checked + label span, input[type="checkbox"]:checked ~ label span {
    background-color: #237F6E;
}

.success-banner {
    width: 100%;
    background-color: #237F6E;
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: 110%;
    left: 50%; 
    margin-left: -75px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Mobile nav */
#mobile-nav {
    width: 100%;
    height: 61px;
    position: fixed;
    margin-top: -61px;
}

#mobile-nav button {
    width: 61px;
    height: 61px;
    float: left;
    font-size: 30px;
}

/* Side nav */
#side-nav {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 220px;
    position: fixed;
    padding: 0px;
    float: left;
    clear: none;
    top: 0px;
}

#logo-area {
    color: white;
    background-color: #237F6E;
    padding: 10px;
    text-align: center;
}

#logo-area h1 {
    font-weight: 900;
    border: 4px solid white;
    font-size: 30px;
    display: inline-block;
    margin: 0px;
}

#logo-area h1 span {
    background-color: white;
    color: #237F6E;
}

#search-area {
    padding-left: 10px;
    border-bottom: 1px solid #363c49;
    display: block;
    overflow: auto;
}

#search-area input[type="text"] {
    border-bottom: 0px;
}

input, #search-area button, #upload-search-button {
    background-color: transparent;
    height: 50px;
    width: 150px;
}

#search-area button {
    width: 50px;
    float: right;
}

#nav-login-register {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#nav-login-register h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#nav-login-register input[type="text"],
#nav-login-register input[type="password"],
#register-area input[type="text"],
#register-area input[type="password"] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}

#nav-login-register input[type="text"]:focus, #nav-login-register input[type="password"]:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#nav-login-register button {
    margin-top: 10px;
}

#nav-login-register p {
    margin: 0px;
    text-align: center;
}

#nav-login, #nav-register {
    padding: 10px;
}

#nav-register {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.transparent-button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.transparent-button:hover {
    background-color: #237F6E;
    border: 1px solid #237F6E;
}

#nav-register button:active {
    background-color: #103c35;
}

#nav-user {
    bottom: 0px;
    position: absolute;
    width: 100%;
    padding: 10px;
}

#nav-user button {
    margin-bottom: 10px;
}

/* Content */
#content {
    margin-left: 220px;
}

/* Top nav */
#top-nav {
    text-align: center;
}

#top-nav button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
    border-width: 0px;
    color: white;
    margin-top: 22px;
    border-bottom: 3px solid transparent;
    width: initial;
}

#top-nav button:focus {
    outline-width: 0;
}

#top-nav .active {
    border-bottom: 3px solid #237F6E;
}

/* Popular */
#popular {
    clear: both;
    width: 100%;
    color: white;
    padding: 0 50px 0 50px;
}

#popular h1 {
    font-weight: 900;
    text-align: center;
}

/* Item container*/
.item-container {
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Item box */
.item-box {
    width: 185px;
    clear: none;
    margin: 20px;
    display: inline-table;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.item-info-box {
    background-color: #23272E;
}

.item-info-box h3 {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 8px;
    padding-top: 8px;
    height: 50px;
    font-size: 16px;
}

.item-info-box p {
    font-size: 12px;
}

.item-info-box .subtitle-icon, .item-card .info .subtitle-icon {
    float: left;
    padding: 0 10px 10px 10px;
}

.item-info-box .available-languages, .item-card .info .available-languages {
    color: rgba(255, 255, 255, 0.8);
}

/* Search Results */
#search-results {
    color: white;
    padding: 0 50px 0 50px;
}

#search-results h1 span {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

/* Item Card */
.item-card {
    background-color: #23272E;
    width: 500px;
    text-align: left;
    display: inline-table;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.item-card img {
    float: left;
}

.item-card .poster {
    width: 154px;
    height: 231px;
    float: left;
}

.item-card .info {
    padding: 0 20px 0 20px;
    display: inline-block;
    width: 344px;
    height: 231px;
    position: relative;
}

.item-card h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
}

.item-card .green-button {
    bottom: 20px;
    right: 20px;
    width: 304px;
    position: absolute;
}

/* Register */
#register-area div {
    padding: 0px;
}

#register-area input[type="text"], #register-area input[type="password"] {
    height: 40px;
}

#register-area button {
    margin-top: 20px;
}

#register-area .input-error-message {
    margin-top: 50px;
}

/* Upload */
#upload-area {
    padding: 20px;
    height: 100vh;
}

#upload-area form {
    display: inline;
}

.upload-step {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border: 10px solid #23272E;
}

.upload-step h3 {
    margin: 10px 0;
}

#item-select {
    height: 100%;
}

#subtitle-upload, #meta-data-area {
    display: none;
    float: right;
}

.step-number {
    background-color: white;
    color: #23272E;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

#item-select input[type="text"] {
    width: 90%;
}

#item-select #upload-search-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#upload-search-button:hover {
    background-color: #237F6E;
}

#upload-search-button:active {
    background-color: #103c35;
}

#item-select .loader {
    margin: 0 auto;
    margin-top: 20px;
}

#item-select .item-card {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}

#item-select .item-card:hover {
    background-color: #2c313a;
    cursor: pointer;
    cursor: hand;
}

#item-select .item-card .poster {
    height: 100px;
    width: 60px;
}

#item-select .item-card img {
    height: 100px;
}

#item-select .item-card .info {
    height: 100px;
    width: 80%;
}

.item-card.active {
    background-color: #424957;
}

#subtitles-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#subtitles-input + label {
    text-align: center;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#meta-data-area div {
    padding: 0px;
}

#meta-data-area label {
    width: 100%;
}

.sub-spec-label {
    width: 100%;
    margin: 10px 0px;
}

.sync-type {
    padding: 0px;
    text-align: center;
}

.spec-checkbox {
    float: right;
}

/* Item detail */
#item-detail {
    padding: 0px;
    padding-bottom: 30px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

#item-detail-backdrop, #backdrop-gradient {
    width: 100%;
    height: 300px;
    position: absolute;
}

#item-detail-backdrop {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#backdrop-gradient {
    background: linear-gradient(transparent, #15171c);
}

#item-detail-backdrop img {
    position: absolute;
    height: 80%;
    margin-left: 10px;
    border: 5px solid white;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 10px grey;
    z-index: 1;
}

#item-detail h1 {
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    width: calc(100% - 200px);
    float: left;
    z-index: 1;
}

#item-detail-box {
    margin-top: 300px;
}

#item-detail-text {
    padding: 10px;
}

#item-detail-text div {
    padding: 0px;
}

#item-detail-table {
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#subtitles-list div {
    padding: 0px;
}

#subtitles-list div:first-child h2 {
    margin: 0px;
}

#subtitles-list table {
    width: 100%;
}

#subtitles-list table td {
    padding: 5px 0;
}

#subtitles-list table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#subtitles-list table tbody tr:last-child {
    border-bottom: none;
}

#subtitles-list table thead {
    color: rgba(255, 255, 255, 0.6);
}

#subtitles-list table button {
    width: 40px;
    float: right;
}

/* Device rules */
@media (max-width: 767px) {
    /* XS */
    #content {
        margin-left: 0px;
        margin-top: 61px;
    }

    #popular {
        padding: 0px;
    }

    #side-nav {
        display: none;
        margin-top: 61px;
        background-color: rgba(0, 0, 0, 0.9);
        height: calc(100% - 61px);
    }

    #item-detail-backdrop, #backdrop-gradient {
        height: 200px;
    }

    #item-detail-backdrop h1 {
        font-size: 12vw;
    }

    #item-detail-box {
        margin-top: 200px;
    }
}

@media (min-width: 768px) {
    /* XS+ */
    #side-nav {
        display: block !important;
    }
}
